<div id="container">
  <h2>Would you like to hire me to work on your team or to help with a project you’re working on?</h2>
  <p>Please contact me using the appropriate form bellow! If you would rather call me directly, <a href="#">click here</a>.</p>
  <p>If you’re looking for help creating a brand or website, you can get more info about my branding process <a href="/contact#branding">here</a>.</p>
  <h3>I’ll work with you</h3>
  <h4>The Project Detail form</h4>
  <form>
    <label>Brand name: </label><input type="text" placeholder="Brand name"> <span class="req">* Required</span><br>
    <label>Return email: </label><input type="text" placeholder="Return email"> <span class="req">* Required</span><br>
    <label>Start date: </label><input type="date" placeholder="Start date"><br>
    <label>Budget: </label> from <input type="text"> to <input type="text"><br>
    <label>Ideation? </label><input type="checkbox" checked><br>
    <label>Tools to use: </label><input type="text" placeholder="What might I need?"><br>
    <label>Wireframe/Outline submission: </label><input type="file"><br>
    <input type="submit" value="send">
  </form>
  <h3>I’ll work for you</h3>
  <h4>The Hiring form</h4>
  <form>
    <ul>
      <li>What’s the name of your company?</li>
      <li>What email should I respond to?</li>
      <li>Please explain to me the nature of what you need me to do.</li>
      <li>I’d rather do all this over the phone.</li>
      <hr>
      <li>When do you need me?</li>
      <li>What kind of tools and/or technologies will I be using?</li>
      <li>Are you offering remuneration?</li>
      <li>Are there any files or links that you wish to send me?</li>
      <li>How did you hear about me?</li>
    </ul>
    <button>send</button>
  </form>
</div>
