<section class="tagline">
  <h1>WEB DEVELOPER</h1>
  <h2>[web dih-<span>vel</span>-uh-per] (sound icon)</h2>
  <h3>noun, <abbr title="countable noun">c</abbr>. | /wɛb dɪˈvɛl·ə·pər/ | Latin, Greek</h3>
  <span class="def">A machine that spends 16-20 hours a day turning caffeine into code.</span>
  <span class="syn"><span>synonyms:</span> programmer, designer, innovator, pioneer</span>
</section>
<section class="intro">
  <div class="segment a">
    <h2>Ikenna . Asad . Ugwuh</h2>
    <h3>Developer . Designer</h3>
    <h4>current availability:</h4>
    <form>
      <label>freelance work</label><input type="checkbox" checked>
      <label>part-time work</label><input type="checkbox" checked>
      <label>full-time work</label><input type="checkbox" checked>
      <button>Contact Now!</button>
    </form>
  </div>
  <div class="segment b">
    <figure class="still"></figure>

  </div>
</section>
<section class="assessment">
  <h3>Culture & Personality Assessment: What am I like?</h3>
  <ul>
    <li>
      <span class="attribute">Sense of humour?</span> <span class="character">👌</span> &nbsp;<span class="characteristic">excellent sense of humour</span>
    </li>
    <li>
      <span class="quality">Interested?</span> <span class="character">🤓</span> &nbsp;<span class="characteristic">strong passion for learning and improvement</span>
    </li>
    <li>
      <span class="attribute">Teachable?</span> <span class="character">🤔</span> &nbsp;<span class="characteristic">quick learner, fully teachable/coachable</span>
    </li>
    <li>
      <span class="attribute">Capability?</span> <span class="character">🎓</span> &nbsp;<span class="characteristic">knowledgable, patient, and easy to work with</span>
    </li>
    <li>
      <span class="attribute">Talker?</span> <span class="character">🗣️</span> &nbsp;<span class="characteristic">7/10 from completely antisocial to talking your ears off</span>
    </li>
    <li>
      <span class="attribute">Camera shy?</span> <span class="character">🙋‍♂️</span> &nbsp;<span class="characteristic">asks questions often, but a Googler at heart</span>
    </li>
  </ul>
</section>
<section class="bio">
  <h3>My Bio: What is my background?</h3>
  <p>I was born by the name Ikenna Asad Ugwuh, November 29, 1991 in Long Island, New York. I currently reside in Atlanta, Georgia, where I work as a freelance front end developer with 7+ years of design experience and 3+ years of professional developing experience. I’ve been designing graphics since I got Microsoft Paint on my first computer at 9 years old. This is my personal website.</p>
  <p>Yeah, it’s fun to make stuff, but I also like making stuff better. I love getting the opportunity to work with both clients and civic hackers especially to realise their dream of establishing digital properties which suit their individual needs. Currently, I’m working on becoming more actively involved in the web design community. I’ve made a handful of websites and print and logo designs for small businesses, but I have major designs to expand my portfolio with the work I could do for many other businesses or corporations, community activists, nonprofits, churches, actors, comedians, musicians and more.</p>
  <button>(+) even more about me...</button>
  <p>Using my eye for exquisite detail, swift appreciation for design, and years of programming experience, I ensure that the digital work I deliver is always of exceptional quality, always fully responsive and always speedy, semantically valid (for vanilla layouts) and SEO friendly. Using feature detection, I can make certain that my designs and digital innovations are fully functional and compatible across virtually all major devices and browsers. Having a fully responsive website provides a user experience that is best and most appropriately suited to the device he or she happens to be using. This means that every site I develop is delivered with a layout that can best make use of the space and features available on practically any size of device.</p>
  <p>I have over a decade’s worth of experience using HTML, CSS, and JavaScript, using Adobe products such as Photoshop and Illustrator, and converting the designs I create into semantically valid, high-performance code. But not only have I obtained the knowhow to design and develop an impressive and compelling front end, but I have also picked up on various ways of integrating the front end with well developed server-side code. It is this knowledge I have of programming in multiple departments and on multiple turfs that allows me to work on a project in open acreage with its full scope in mind, making it easier to elucidate and document the various aspects of the development process, which facilitates cohesive collaboration with little to no confusion.</p>
  <button>(-) a lot less about me...</button>
</section>
<section class="skills">
  <h3>My Skills: 4 separate skillsets.</h3>
  <h4>Set A: Front End Development</h4>
  <ul>
    <li>Interactive and Responsive Design</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Sass/Less</li>
    <li>JavaScript</li>
    <li>AngularJS</li>
    <li>jQuery</li>
    <li>Gulp</li>
  </ul>
  <h4>Set B: Back End & Mobile Development</h4>
  <ul>
    <li>PHP</li>
    <li>Node.js</li>
    <li>Ionic</li>
  </ul>
  <h4>Set C: WordPress Development</h4>
  <ul>
    <li>Themes</li>
    <li>Plugins</li>
    <li>E-Commerce</li>
    <li>Blog/Website Administration</li>
    <li>Blog/Website Navigation</li>
    <li>User Roles</li>
  </ul>
  <h4>Set D: Logo & Graphic Design/Branding</h4>
  <ul>
    <li>Vectors/SVG</li>
    <li>HTML5 Canvas</li>
    <li>Typography</li>
    <li>Photography and Photo Retouching</li>
    <li>Illustrations</li>
    <li>Prints</li>
    <li>Brand and Social Media Marketing</li>
  </ul>
</section>
<section class="dev-techniques">
  <h3>My Development Techniques: What facilities do I use to create your site?</h3>
  <ul>
    <li>Pixel Perfect Layout Design</li>
    <li>Performance Optimisation</li>
    <li>SEO On-page Optimisation</li>
    <li>Object Oriented Programming</li>
    <li>MVC Design Pattern</li>
    <li>Ajax Model</li>
  </ul>
</section>
<section class="des-techniques">
  <h3>My Design Techniques: In which areas of design do I have fluency?</h3>
  <ul>
    <li>Inclusive Design</li>
    <li>Atomic Design</li>
    <li>Pixel Perfect Design</li>
    <li>Golden Ratio Design</li>
    <li>Material Design</li>
    <li>Typographic Design</li>
  </ul>
</section>
<section class="outro">
  <p>Well, that’s quite enough about me, what’s going on with you? Have a comment about my site? <a href="#">Tell me about it</a>. Looking for someone to take your business, product, or service in the right direction? Thinking about starting, changing, or extending your brand? <a href="#">Hire me to work on your project</a>! Are you looking for talent? <a href="#">Hire me to work on your team</a>! Want to see examples of what I do? <a routerLink="/samples">See the samples page</a>.</p>
</section>
