<button><h3>Call me now (mobile)</h3></button>
<button><h3>Call me directly (desktop)</h3></button>
<button><h3>Let’s chat</h3></button>
<button><h3>Get my phone number</h3></button>
<button><h3>Shoot me a line</h3></button>

<p>If you would like to hire me now or to talk to me about working with or for you on a particular project or set of projects, please <a href="#">click here</a> to be taken to the appropriate contact form; or, before contacting me, continue scrolling to read about my seven step branding process. I have outlined each step in an attempt to answer many of the common questions I receive from potential clients.</p>
<p>For simple messages or inquiries, <a href="#">let’s set up a chat</a> using my built-in chat interface. Or, shoot me a line (viz. [abbr=“videlicet: namely, that is to say”] send me a sentence or two) using <a href="#">this form</a>. You may decline to provide an address, but if you do, I’ll respond with a message using sentences of my own. You can also use the same form to fully send me an email containing several sentences, even paragraphs. Don’t worry, it looks tiny, but it should expand to the appropriate size once you’ve started typing.</p>
<hr>
<p>So, a question I get asked a lot (or not enough of) by prospective clients looking to establish a brand or web presence is “what is your process?” Or maybe I get asked, “what are your communication skills like? Are you going to abandon me?”</p>
<p>I operate by closely following a system of seven steps which make up what I call my “branding process.” By keeping to this system, I demonstrate the ways in which I can be of most value to you and your germinating project. And, of course, I am always happy and willing to fully explain this process or system to anyone who wants to know, and especially to those embarking with me on a journey toward complete contrivance of the idea you have in mind.</p>
<h3 id="branding">The Branding Process</h3>
<ul>
  <li>
    <h4>Step 1: Meeting & Collaboration</h4>
    <p>I specialise in complete website strategy, design and development. The full process usually starts out with the first of several meets—face to face, over Skype or over the phone—the crucial factor is that I get a chance to listen to the client to build a sense of the full nature of the brand they wish to bring to life and, as well, to identify any problems or hindrances that are currently preventing them from realising their vision.</p>
  </li>
  <li>
    <h4>Step 2: Preliminary Research</h4>
    <p>By now, I know the client’s motivations and have gotten a feel for the story behind their brand. Next, I do my research. I need to know if there are any assets already at play, such as a former website or logo or an established name, etc. If there are, what aspects or components of these assets seem strong, and which need to be improved upon? Would it be better even to start from scratch? Through careful consideration and close communication, I figure out these details with the client and reach an assessment of the situation.</p>
  </li>
  <li>
    <h4>Step 3: Marketing Research</h4>
    Then, from a fully unbiased standpoint, I attempt to identify existing brand challenges, establish a general idea of what’s out there, what works right now and what doesn’t. After these challenges have been identified, I take the necessary steps toward figuring out a solution. Now that the brand’s identity has been established, I analyze the brand’s key messages and objectives and vet out any competition the client may have so that I know what our playing field is. I gather valuable data in key areas and insight on target audiences, and from there I define potential strategies to distinguish the client’s brand from competitors.
  </li>
  <li>
    <h4>Step 4: Meeting & Collaboration</h4>
    <p>Now comes the time where, by combining the client’s vision with my in-depth research, I come up with a single unique strategy to help the client satisfy their goals. I usually present this to the client in the form of an outline, as well as develop a timeline for the client’s particular project so as to be able to document progress, stagnation, or retrogression and decline happening throughout the process and any associated costs. Everything will be communicated to the client directly and strategically, using simple and succinct objectives so that the client knows what to expect during the branding process with as little confusion as possible.</p>
  </li>
  <li>
    <h4>Step 5: Ideation & Conceptualisation</h4>
    <p>So, next, unless the client has already got a pretty imaginative view of basically exactly what they want to see achieved, I begin the process of ideation. Basically, it’s brainstorming. I sketch, dream, doodle, and imagine the perfect idea, illustration or layout to suit the needs of the client. Nothing too elaborate, just rough, black and white concepts that meet the brand objectives and have the ability to resonate with the client’s audience. The ultimate goal of this conceptualisation process is to figure out the perfect idea that consumers can connect with.</p>
  </li>
  <li>
    <h4>Step 6: Prototyping  & Design</h4>
    <p>Then, I take the dive into the creative process by crafting mind-blowing ideas and out-of-the-box visual concepts, designing mock ups to show the client the potential of their brand. My goal here is to showcase for consideration my visual brainchildren which I believe will allow the brand to take on a vibrant life of its own. After the client sees the mock ups, we chew the fat, I make revisions based on the client’s feedback and together we work to fine-tune the design. For certain projects, this will be the last step.</p>
  </li>
  <li>
    <h4>Step 7: Development to Completion</h4>
    <p>For other projects, the the final step is development. I use my talents, programming skills and techniques to to build a complete digital enterprise from the ground up. As aforementioned, I ensure the finished project takes on a personality of its own, empowering the client’s brand to inspire conversations and develop impressions that will grow into living mantras for consumers.</p>
  </li>
</ul>
<form>
  <div class="status">
    <span class="compose">Shoot me a line.</span>
    <span class="complete">Thanks, I will get back to you unbelievably quick. Usually.</span>
    <span class="recompose">Shoot another line.</span>
  </div>
  NAME > EMAIL > MESSGE > SEND
  <label>name</label><input type="text" placeholder="tell me your name...">
  <label>email</label><input type="text" placeholder="and your email adddress?">
  <label>message</label><input type="text" placeholder="ok, shoot...">
  <input type="submit" value="send">
</form>
<p>If you are willing to hire me, please <a href="#">click here</a> to fill out the appropriate contact form.</p>

<p>Here are some of the places you can check me out on social media:</p>

<h5>LinkedIn, Twitter, InstaGram, Github, CodePen, Google+, Dribble, Vimeo, DeviantArt, Medium, Skype, SharedList</h5>

Ikenna Asad Ugwuh<br>
(Agent Kenny, 007)<br>
1701 Martin Luther King Junior Drive NW<br>
Atlanta, GA, 30314<br>
phone: 678-308-0880<br>
email: ikennaugwuh@gmail.com<br>
skype: agentkenny007
