<div id="container">
  <ul>
    <li><h2>Responsive Front End Web Development</h2></li>
    <li><h2>User Interface and User Experience Design</h2></li>
    <li><h2>Graphic and Interactive Design</h2></li>
    <li><h2>Back End Development using Node/PHP</h2></li>
  </ul>
  <button>Download Résumé</button>
  <button>View Portfolio Now</button>
  <h3>Languages, Tools, Platforms and Frameworks</h3>
  logos for:
  <ul>
    <li>Adobe Photoshop CC</li>
    <li>Adobe Illustrator CC</li>
    <li>Adobe In Design CC</li>
    <li>Sketch</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>Node.js</li>
    <li>AngularJS</li>
    <li>PHP</li>
    <li>Wordpress</li>
  </ul>
  gallery:
  <ul>
    <li>GrapeVine</li>
    <li>Muzaaap</li>
    <li>Emoji Match</li>
    <li>BathSheba Beauty</li>
    <li>LOL Overload!</li>
  </ul>
  <button>more work samples</button>
</div>
