$accent: #CD0000;
$platelet: #EC4242;

@font-face {
  font-family: 'Avenir-Black';
  src:  url(../assets/fonts/Avenir-Black.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Black.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Black.woff) format("woff"),
        url(../assets/fonts/Avenir-Black.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Black.svg#Avenir-Black) format("svg");
}
@font-face {
  font-family: 'Avenir-Book';
  src:  url(../assets/fonts/Avenir-Book.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Book.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Book.woff) format("woff"),
        url(../assets/fonts/Avenir-Book.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Book.svg#Avenir-Book) format("svg");
}
@font-face {
  font-family: 'Avenir-Heavy';
  src:  url(../assets/fonts/Avenir-Heavy.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Heavy.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Heavy.woff) format("woff"),
        url(../assets/fonts/Avenir-Heavy.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Heavy.svg#Avenir-Heavy) format("svg");
}
@font-face {
  font-family: 'Avenir-Light';
  src:  url(../assets/fonts/Avenir-Light.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Light.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Light.woff) format("woff"),
        url(../assets/fonts/Avenir-Light.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Light.svg#Avenir-Light) format("svg");
}
@font-face {
  font-family: 'Avenir-Medium';
  src:  url(../assets/fonts/Avenir-Medium.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Medium.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Medium.woff) format("woff"),
        url(../assets/fonts/Avenir-Medium.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Medium.svg#Avenir-Medium) format("svg");
}
@font-face {
  font-family: 'Avenir-Roman';
  src:  url(../assets/fonts/Avenir-Roman.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Avenir-Roman.woff2) format("woff2"),
        url(../assets/fonts/Avenir-Roman.woff) format("woff"),
        url(../assets/fonts/Avenir-Roman.ttf) format("truetype"),
        url(../assets/fonts/Avenir-Roman.svg#Avenir-Roman) format("svg");
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
}
@mixin placeholder($color) {
    &::-webkit-input-placeholder { color: $color; opacity: 1 !important; }
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder {color: $color; }
    &:-ms-input-placeholder {color: $color; }
}
@mixin transition($transition) {
    // -webkit-transition: $transition;
    // -moz-transition: $transition;
    // -o-transition: $transition;
    transition: $transition;
}
@mixin transition-deep($trans1, $trans2) {
    // -webkit-transition: $trans1, $trans2;
    // -moz-transition: $trans1, $trans2;
    // -o-transition: $trans1, $trans2;
    transition: $trans1, $trans2;
}
@mixin transition-delay($delay) {
    // -webkit-transition-delay: $delay;
    // -moz-transition-delay: $delay;
    // -o-transition-delay: $delay;
    transition-delay: $delay;
}
@mixin transition-duration($duration) {
    // -webkit-transition-duration: $duration;
    // -moz-transition-duration: $duration;
    // -o-transition-duration: $duration;
    transition-duration: $duration;
}
@mixin transition-property($property) {
    // -webkit-transition-property: $property;
    // -moz-transition-property: $property;
    // -o-transition-property: $property;
    transition-property: $property;
}
@mixin transition-timing-function($function) {
    // -webkit-transition-timing-function: $function;
    // -moz-transition-timing-function: $function;
    // -o-transition-timing-function: $function;
    transition-timing-function: $function;
}
@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}

a {
  color: red; text-decoration: none; border-bottom: 1px dotted darken($accent, 10%);
  @include transition(all 0.618s ease);
  &:hover { border-bottom-color: white; }
}
body {
  font: 16px Avenir; color: white; background: black;
}
html, body {
  width: 100%; height: 100%; margin: 0;
}
header {
  position: relative; z-index: 10;
}
nav {
  position: fixed;
  .nav-bar {
    position: fixed; top: 0;
    @include box-shadow(inset -5px 0 15px black);
    @include filter(drop-shadow(-2px 0 5px black));
    @include transition(transform 0.78s ease-out);
  }
  .nav-menu {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background: red;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e50000+0,f73b3b+39,600000+100&1+5,0.5+20,1+90 */
    background: -moz-linear-gradient(top,  rgba(229,0,0,1) 0%, rgba(231,8,8,1) 5%, rgba(238,31,31,0.5) 20%, rgba(247,59,59,0.64) 39%, rgba(121,10,10,1) 90%, rgba(96,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(229,0,0,1) 0%,rgba(231,8,8,1) 5%,rgba(238,31,31,0.5) 20%,rgba(247,59,59,0.64) 39%,rgba(121,10,10,1) 90%,rgba(96,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(229,0,0,1) 0%,rgba(231,8,8,1) 5%,rgba(238,31,31,0.5) 20%,rgba(247,59,59,0.64) 39%,rgba(121,10,10,1) 90%,rgba(96,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50000', endColorstr='#600000',GradientType=0 ); /* IE6-9 */
    @include transition(opacity 1s ease);
    .checks {
      height: 100%;
      figure { margin: 0; }
      div {
        width: 100%;
        opacity: 1;
        @include transition(all 0.35s ease);
        @include transform(matrix(0));
        &.matrix {
          @include transform(matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 400, 10, 1));
          // @include transform(matrix3d(3, 0, 0, 0, 0, 3, 0, 0, 0, 0, 1, 0, -300, -600, 10, 1));
        }
        span {
          float: left;
          display: block;
          height: 100%;
          opacity: 1;
          @include transition(all 1.6s ease);
          @include transform(matrix(0));
          &.matrix {
            opacity: 0;
            // @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, 141.421, 141.421, 0, 1));
            // @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, 50.5175, 232.325, 153.209, 1));
            // @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, -199.468, 482.311, 574.533, 1));
            // @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, 482.311, -199.468, -574.533, 1));
            // @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, 781.697, 208.253, -638.812, 1));
            @include transform(matrix3d(-0.541675, 0.541675, -0.642788, 0, 0.707107, 0.707107, 0, 0, 0.454519, -0.454519, -0.766044, 0, 99.9176, 890.032, 510.255, 1));
          }
        }
        &.e {
          span {
            &.e {
              background: rgba(0, 0, 0, 0.6);
              border: 1px solid black;
              @include box-shadow(0 0 5px black);
            }
            &.o {
              background: rgba(255, 255, 255, 0.25);
            }

          }
        }
        &.o {
          span {
            &.e {
              background: rgba(255, 255, 255, 0.25);
            }
            &.o {
              position: relative;
              background: rgba(0, 0, 0, 0.75);
              border: 1px solid black;
              @include box-shadow(0 0 15px 3px rgba(0, 0, 0, .5));
            }
          }
        }
      }
    }
    .links {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      overflow: auto;
      a {
        display: block;
        color: white;
        text-shadow: 0 1px 2px black, 0 3px 10px black, 0 5px 20px rgba(0, 0, 0, 0.5);
        font-family: Avenir-Light;
        border: 0;
        &.active {
          font-family: Avenir-Black;
          font-weight: bold;
        }
        &:not(.active):hover {
          text-decoration: underline;
        }
      }
      span {
        position: absolute;
        cursor: pointer;
        display: block;
        @include filter(drop-shadow(0 3px 5px black));
        &.up {
          background-position: bottom;
        }
      }
    }
    &.open {
      opacity: 1;
    }
  }
}
div.nav-toggle {
  position: fixed;
  cursor: pointer;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  @include transition(all 0.5s ease);
  &:hover {
    border: 1px solid;
  }
  @include box-shadow(1px 1px 3px black);
  button {
    @include transform(scale(0.7));
    @include transition(all 0.25s ease);
    display: inline-block;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 2px solid transparent;
    margin: 0;
    overflow: visible;
    outline: none;
    .box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
      span {
        display: block;
        top: 50%;
        margin-top: -2px;
        @include transition-duration(0.3s);
        @include transition-timing-function(cubic-bezier(0.55, 0.055, 0.675, 0.19));
      }
      span, span::before, span::after {
        width: 40px;
        height: 4px;
        background: $accent;
        border-radius: 4px;
        position: absolute;
        @include transition-property(transform);
        @include transition-duration(0.15s);
        @include transition-timing-function(ease);
        @include box-shadow(0 1px 2px rgba(0, 0, 0, .5));
      }
      span::before, span::after {
        content: '';
        display: block;
      }
      span::before {
        top: -10px;
        @include transition-deep(top 0.1s 0.34s ease-in, opacity 0.1s ease-in);
      }
      span::after {
        bottom: -10px;
        @include transition-deep(bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19));
      }
    }
    &:hover {
      // opacity: 0.7;
      border: 2px solid white;
      background: url(../assets/images/checker@gold0.5x.png) -4px;
      .box {
        span, span::before, span::after {
          background: white;
          @include box-shadow(0 1px 3px black);
        }
      }
    }
    &.active {
      background: transparent;
      .box {
        span {
          @include transform(rotate(225deg));
          @include transition-delay(0.56s);
          @include transition-timing-function(cubic-bezier(0.215, 0.61, 0.355, 1));
        }
        span::before {
          top: 0;
          opacity: 0;
          @include transition-deep(top 0.4s ease-out, opacity 0.4s 0.56s ease-out);
        }
        span::after {
          bottom: 0;
          @include transform(rotate(-90deg));
          @include transition-deep(bottom 0.4s ease-out, transform 0.6s 0.56s cubic-bezier(0.215, 0.61, 0.355, 1));
        }
      }
    }
  }
}
#logo { display: none; }
.accent { color: $accent; }

@import 'app.component.mobile';
@import 'app.component.tablet';
@import 'app.component.desk';
