@media screen and (min-width: 801px) {
  #container {
    margin-top: 0;
  }
  nav {
    .nav-bar {
      left: inherit;
      right: -80px;
      width: 79px;
      height: 100%;
      background: url(../assets/images/checker@gold.png);
      border-bottom: 0;
      border-left: 0.5px solid;
      @include box-shadow(inset -5px 0 15px black);
      @include filter(drop-shadow(-2px 0 5px black));
      &.show {
        @include transform(translate(-80px));
      }
    }
    .nav-menu {
      .about { right: 80px; }
      .checks {
        width: 100%;
        div {
          height: 72px;
          span {
            width: 72px;
          }
          &.e {
            span {
              &.e {
                width: 70px;
                height: 70px;
              }
            }
          }
          &.o {
            span {
              &.o {
                width: 70px;
                height: 70px;
              }
            }
          }
        }
      }
      .links {
        margin-left: -40px;
        span {
          width: 100px;
          height: 53px;
          background: url(../assets/images/arrow-up-down.png);
          &.down {
            right: 180px;
            top: 75px;
          }
          &.up {
            right: 75px;
            bottom: 145px;
            background-position: bottom;
          }
        }
      }
    }
  }
  div.nav-toggle {
    border: 1px solid black;
    button {
      padding: 13px;
      &.active {
        padding: 20px 13px 16px 13px;
        .box {
          span, span::before, span::after {
            background: $platelet;
          }
        }
      }
    }
    &.contact {
      button.active {
        .box {
          @include transform(scale(2) translateY(0.5px));
          span, span::before, span::after {
            background: black;
            -webkit-transition-property: background, transform, -webkit-transform;
            transition-property: background, transform, -webkit-transform;
            @include transition-duration(2.275s);
            @include box-shadow(inset 0 0 1px white);
          }
        }
        &:hover {
          background: rgba(0, 0, 0, 0.75);
          @include box-shadow(0 0 5px black);
          .box {
            span, span::before, span::after {
              background: white;
              @include transition(all 0.7s ease);
            }
          }
        }
        &:active {
          background: white;
          border-color: black;
          @include transition(none);
          @include box-shadow(0 0 5px white);
          .box {
            span, span::before, span::after {
              background: black !important;
              @include transition(none);
            }
          }
        }
      }
      &:active {
        background: black;
        @include transition(none);
        button.active .box {
          span, span::before, span::after {
            background: white;
            @include transition(none);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  nav .nav-menu .links a {
    font-size: 190px;
    line-height: 220px;
  }
  nav .nav-menu .links span.up {
    right: 15px;
    bottom: 125px;
  }
}
@media screen and (min-width: 1200px) {
  nav .nav-menu .links span.up {
    right: 100px;
    bottom: 30px;
  }
}
