<header>
  <h1 id="logo">
    <a routerLink="/home">{{ '{[a]}' }}</a>
  </h1>
  <nav>
    <div class="nav-menu">
      <div class="checks"></div>
      <div class="links">
        <a routerLink="/home" (click)="navActive = navBarActive = false; closeMenu()">home</a>
        <a routerLink="/about" (click)="navActive = navBarActive = false; closeMenu()">about</a>
        <a routerLink="/blog" (click)="navActive = navBarActive = false; closeMenu()">blog</a>
        <a routerLink="/contact" (click)="navActive = navBarActive = false; closeMenu()">contact</a>
        <a routerLink="/hire" (click)="navActive = navBarActive = false; closeMenu()">hire</a>
        <a routerLink="/portfolio" (click)="navActive = navBarActive = false; closeMenu()">portfolio</a>
        <a routerLink="/samples" (click)="navActive = navBarActive = false; closeMenu()">samples</a>
        <a routerLink="/testimonials" (click)="navActive = navBarActive = false; closeMenu()">testimonials</a>
      </div>
    </div>
    <div class="nav-bar" [ngClass]="{'show':navBarActive}"></div>
  </nav>
  <div class="nav-toggle">
    <button [ngClass]="{'active':navActive}"
      (click)="navActive = !navActive; navActive ? openMenu() : closeMenu ()"
      (mouseenter)="navBarActive = true" (mouseleave)="navBarActive = navActive ? true : false">
      <span class="box"><span></span></span>
    </button>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<br>
<footer>
  © 2017 - Ikenna Asad |
  <a href="#">Site Map</a> | <a href="#">Style Guide</a>
</footer>
