<header>
  <h1 id="logo">
    <a routerLink="/home">{{ '{[a]}' }}</a>
  </h1>
  <nav>
    <div class="nav-menu">
      <div class="checks"></div>
      <div class="links" *ngIf="navAvailable">
        <div style="position: relative;">
          <a routerLink="/home" (click)="navActive = navBarActive = false; closeMenu();">home</a>
          <a routerLink="/about" (click)="navActive = navBarActive = false; closeMenu();">about</a>
          <a routerLink="/blog" (click)="navActive = navBarActive = false; closeMenu();">blog</a>
          <a routerLink="/contact" (click)="navActive = navBarActive = false; closeMenu();">contact</a>
          <a routerLink="/hire" (click)="navActive = navBarActive = false; closeMenu();">hire</a>
          <a routerLink="/portfolio" (click)="navActive = navBarActive = false; closeMenu();">portfolio</a>
          <a routerLink="/samples" (click)="navActive = navBarActive = false; closeMenu();">samples</a>
          <a routerLink="/testimonials" (click)="navActive = navBarActive = false; closeMenu();">testimonials</a>
          <span class="up" (click)="scrollMenu('top')" *ngIf="menuScrollable()"></span>
          <span class="down" (click)="scrollMenu('bottom')" *ngIf="menuScrollable()"></span>
        </div>
      </div>
      <div class="about">
        <div>
          <h1>Ikenna <span class="accent">|</span> Asad&nbsp;</h1>
          <h2>/ɪkˈɛn·ə/ <span class="accent">or</span> /ˈɪk·ən·ə/ <span class="accent">|</span> /ˈə·səd/ <span class="accent">or</span> /əˈsɑd/</h2>
          <p>I like music, I like working with my hands, I love learning languages, and I'm interested in such a variety of different subjects it's almost insane. I like to tickle people. Not literally because it would make me extremely socially awkward if I went around literally tickling folks. But I like to tickle people in their minds and in their hearts, to make them laugh and sort of offer them a sense of comfort; to get them comfortable being around me and this insane world I live in.</p>
          <p>I've been tinkering with graphics and web development since I was around 10 years old. I use languages like HTML, CSS, and JavaScript with products like Adobe Photoshop and Illustrator to convert the designs I create into semantically valid, high-performance code. Some of the mini projects I've been working on can be viewed on my blog site using the following link. The link after that will take you to the latest copy of my résumé.</p>
          <h3><a href="http://www.kreativkenn.com/portfolio/">www.kreativkenn.com/portfolio/</a></h3>
          <hr>
          <h3><a href="https://docs.google.com/document/d/1nEyTRuF9s6HVTJ6wAHE_NyVdhHT7uhVe51Xw8sWKweM/edit?usp=sharing">RÉSUMÉ!</a></h3>
        </div>
      </div>
    </div>
    <div class="nav-bar" [ngClass]="{'show':navBarActive}"></div>
  </nav>
  <div class="nav-toggle">
    <button [ngClass]="{'active':navActive}"
      (click)="toggleMenu()"
      (mouseenter)="navBarActive = true" (mouseleave)="navBarActive = navActive ? true : false">
      <span class="box"><span></span></span>
    </button>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<br>
<footer>
  © 2017 - Ikenna Asad |
  <a href="#">Site Map</a> | <a href="#">Style Guide</a>
</footer>
