<header>
  <h1 id="logo">
    <a routerLink="/home">{{ '{[a]}' }}</a>
  </h1>
  <nav>
      <a routerLink="/home">home</a>
      <a routerLink="/about">about</a>
      <a routerLink="/blog">blog</a>
      <a routerLink="/contact">contact</a>
      <a routerLink="/hire">hire</a>
      <a routerLink="/portfolio">portfolio</a>
      <a routerLink="/samples">samples</a>
      <a routerLink="/testimonials">testimonials</a>
    </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<br>
<footer>
  © 2017 - Ikenna Asad |
  <a href="#">Site Map</a> | <a href="#">Style Guide</a>
</footer>
