<div id="container">
  <h2>Latest blog posts:</h2>
  <ul>
    <li>Exclamation Point in URL of Angular Project!?</li>
    <li>Alpha Animations with PNG Sprites</li>
    <li>Using the Timeline Panel in Photoshop CC to Create a Rotating Globe</li>
    <li>Create a 3D globe in Adobe Illustrator CC</li>
  </ul>
  <h6>Disclaimer: This will be a page with external links to my latest blog posts at <a href="http://kreativkenn.com">kreativkenn.com</a>, where I (will) post about design, tutorials, general creative news, etc.</h6>
</div>
