@media screen and (min-width: 801px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 13%; }
    &:first-child + button { padding-right: 15%; }
  }
}
@media screen and (min-width: 888px) {
  .contact-modal .follow .social-link { width: 33%; }
}
@media screen and (min-width: 925px) {
  .contact-modal .switches button:first-child { padding-left: 14%; }
}
@media screen and (min-width: 1000px) {
  .contact-modal .switches button:first-child + button { padding-right: 16%; }
  .slider ul li.slide {
    .segment {
      &.a {
        padding-top: 80px;
      }
      .headline {
        font-size: 21px;
        max-width: inherit !important;
      }
    }
  }
}
@media screen and (min-width: 1110px) {
  .slider ul li.slide {
    .segment {
      .still {
        margin-left: -128px;
      }
      .headline {
        font-size: 24px;
      }
      .rodo {
        padding: 2px 0;
        font-size: 15px;
      }
    }
    &.a {
      .segment {
        .still {
          width: 642px;
          height: 690px;
          background: url(../assets/images/red-tie-profile.png) no-repeat;
          margin-top: -4px;
        }
      }
    }
    &.b {
      .segment {
        .still {
          width: 642px;
          height: 1061px;
          background: url(../assets/images/black-shirt-profile.png) no-repeat;
        }
      }
    }
  }
}
@media screen and (min-width: 1180px) {
  .slider ul li.slide {
    .segment {
      .headline {
        position: relative;
        left: 50px;
        font-size: 27px;
      }
    }
  }
}
@media screen and (min-width: 1170px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 15%; }
    &:first-child + button { padding-right: 17%; }
  }
}
@media screen and (min-width: 1300px) {
  .slider ul li.slide {
    .segment {
      .headline {
        font-size: 30px;
      }
      .buttons {
        top: 300px;
      }
    }
  }
}
@media screen and (min-width: 1370px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 17%; }
    &:first-child + button { padding-right: 18%; }
  }
}
@media screen and (min-width: 1600px) {
  .contact-modal .switches button:first-child + button { padding-right: 19%; }
}
@media screen and (min-width: 1800px) {
  .contact-modal .switches button:first-child { padding-left: 18%; }
}
@media screen and (min-width: 2000px) {
  .contact-modal .switches button:first-child + button { padding-right: 20%; }
}
@media screen and (max-width: 1000px) {
  .contact-modal .connect {
    .label, .detail {
      width: 100%;
      text-align: center;
      float: none;
    }
    .detail {
      margin-bottom: 40px;
      span {
        margin: 0 0 10px;
      }
    }
  }
}
