@import '../vars';
.slider {
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li.slide {
      width: 100%;
      height: 100%;
      position: fixed;
      .segment {
        .buttons {
          position: absolute;
          left: 0;
          right: 0;
          top: 550px;
          padding: 0 20px;
          button {
            cursor: pointer;
            display: block;
            width: 100%;
            outline: 0;
            @include transition(all 0.7s ease);
            &.about {
              border: 2px solid white;
              background: url(../assets/images/checker-translucidblack@gold0.5x.png);
              text-transform: uppercase;
              text-decoration: underline;
              text-shadow: 0 0 2px black, 0 0 2px black, 0 2px 4px black, 0 2px 4px black, 0 2px 3px black;
              margin-bottom: 10px;
              color: $accent;
              font: 16px "Avenir-Heavy";
              letter-spacing: 1px;
              padding: 10px;
              @include border-radius(7px);
              @include box-shadow(0 2px 10px black);
              &:hover {
                background: url(../assets/images/checker-redtransluciddark@gold0.5x.png);
                background-position: -120px -30px;
                color: white;
                border-color: $freespeach;
              }
            }
            &.contact {
              border: 2px solid #970000;
              background: rgba(255,255,255,1);
              background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,43,43,1) 8%, rgba(97,0,0,1) 90%, rgba(31,0,0,1) 100%);
              background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(8%, rgba(255,43,43,1)), color-stop(90%, rgba(97,0,0,1)), color-stop(100%, rgba(31,0,0,1)));
              background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,43,43,1) 8%, rgba(97,0,0,1) 90%, rgba(31,0,0,1) 100%);
              background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,43,43,1) 8%, rgba(97,0,0,1) 90%, rgba(31,0,0,1) 100%);
              background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,43,43,1) 8%, rgba(97,0,0,1) 90%, rgba(31,0,0,1) 100%);
              background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,43,43,1) 8%, rgba(97,0,0,1) 90%, rgba(31,0,0,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1f0000', GradientType=0 );
              color: white;
              font: 24px "Avenir-Light";
              font-style: italic;
              text-shadow: 0 0 1px #5D0000, 0 0 2px #5D0000, 0 2px 8px black, 0 1px 2px black;
              padding: 12px;
              @include border-radius(12px);
              @include box-shadow(0 2px 5px black);
              &:hover {
                color: $accent;
                background: white;
                @include box-shadow(0 0 15px white);
              }
            }
          }
        }
        .headline {
          margin: 0;
          font-weight: normal;
          font-family: Avenir-Medium;
          margin: auto;
        }
        .rodo {
          padding: 10px 20px;
          li {
            padding: 10px 0;
          }
        }
        .still {
          margin: auto;
        }
        &.a {
        }
        &.b {
        }
      }
      &.a {
        background: black;
        .segment {
          .still {
            width: 300px;
            height: 452px;
            background: url(../assets/images/red-tie-profile-mobile.png);
          }
          .buttons {
            button.about:hover {
              text-align: right;
            }
          }
        }
      }
      &.b {
        background: white;
        color: black;
        // clip-path: url(#slideMask);
        // clip-path: polygon(0 38%, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 74%, 100% 100%, 100% 100%, 0% 100%);
        .segment {
          .still {
            width: 394px;
            height: 1061px;
            background: url(../assets/images/black-shirt-profile-mobile.png);
          }
          .buttons {
            button.about:hover {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
.slide-2-mask {
  width: 100%; height: 580px;
}

@import 'home.component.mobile';
@import 'home.component.tablet';
@import 'home.component.desk';
