<div id="container">
  <section class="slider">
    <ul>
      <li class="slide a">
        <div class="segment a">
          <div class="headline">Hi, there! Welcome to my website.</div>
          <h1 class="headline">I am a <span class="accent">Front End Web Developer</span>. My name is <span class="accent">Ikenna Asad</span>.</h1>
          <ul class="rodo">
            <li>I have 3+ years of professional work experience.</li>
            <li>I ideate and develop irresistibly fascinating interfaces and designs.</li>
            <li>I work with people to help them create exigent digital properties in as little time as possible.</li>
          </ul>
          <div class="buttons">
            <button class="about" (click)="app.toggleMenu()">more about me...</button>
            <button class="contact" (click)="app.toggleMenu('contact')">contact me now</button>
          </div>
        </div>
        <div class="segment b">
          <figure class="still"></figure>
        </div>
      </li>
      <li class="slide b" [ngClass]="{'revealed':flipped}" >
        <div class="segment a">
          <h2 class="headline">What’s up? My name is <span class="accent">Ikenna Asad</span>. </h2>
          <h2 class="headline">I’m a <span class="accent">Web Interface & Graphics Designer</span>.</h2>
          <ul class="rodo">
            <li>I have 7+ years of design experience</li>
            <li>I illustrate logos that play an important role in the branding of a website or product.</li>
            <li>I sketch wireframes and develop color schemes for mobile app, web app, and desktop layouts.</li>
          </ul>
          <div class="buttons">
            <button class="about" (click)="app.toggleMenu()">more about me...</button>
            <button class="contact" (click)="app.toggleMenu('contact')">contact me now</button>
          </div>
        </div>
        <div class="segment b">
          <figure class="still"></figure>
        </div>
      </li>
    </ul>
    <!-- <svg class="slide-2-mask" width="38px" height="67px" viewBox="0 208 36 68" preserveAspectRatio="none"> -->
    <svg>
      <defs>
        <clipPath id="slideMask" clipPathUnits="objectBoundingBox">
          <polygon points="0 228.863078 36 209 35.9559135 274.245867 0.0818143281 264.460788"></polygon>
          <!-- <polygon fill="#FFFFFF" fill-rule="evenodd" points="0 228.863078 36 209 35.9559135 274.245867 0.0818143281 264.460788"></polygon> -->
        </clipPath>
      </defs>
    </svg>
    <div class="slide-flip" ontouchstart="this.classList.toggle('hover');" [ngClass]="{'flipped':flipped}"
      (click)="flipped = !flipped;">
      <div class="coin"><div></div><div></div></div>
    </div>
    <div class="slide-controls">
      <div class="slide-playing" [ngClass]="{'paused':!playing}"
        (click)="playing = !playing; playing ? playSlider(true) : pauseSlider();"><div></div></div>
    </div>
  </section>
  <section class="contact-modal"
    [ngClass]="{'mobile':(app.touchable&&connectMobile&&contactType!='follow')||showContactForm&&contactType!='follow','connect':contactType=='connect','follow':contactType=='follow','default':!contactType}">
    <div [ngSwitch]="contactType">
      <div class="switches">
        <button (click)="contactType='connect'">connect</button>
        <button (click)="contactType='follow'">follow</button>
        <div *ngSwitchDefault class="default"><span>^ pick one ^</span></div>
      </div>
      <div *ngSwitchCase="'connect'" class="switchCase connect">
        <div class="mobile-buttons" *ngIf="app.touchable">
          <span (click)="connectMobile = true"></span>
          <a href="tel:1-678-308-0880">Dial My Line</a>
          <a href="sms:1-678-308-0880">Send a Text</a>
          <a (click)="contactForm('open')">Direct Message</a>
          <a (click)="connectMobile = false">Other</a>
        </div>
        <div class="details">
          <div class="label">Address:</div>
          <div class="detail large"><span>1701 Martin Luther King JR DR NW</span><span>Atlanta, GA, 30314</span></div>
          <div class="label">Direct line:</div>
          <div class="detail"><span>678-308-0880</span></div>
          <div class="label">Email/Allo/Duo:</div>
          <div class="detail email"><span>ikennaugwuh@gmail.com</span></div>
          <div class="label">FaceTime:</div>
          <div class="detail email"><span>ikennaugwuh@me.com</span></div>
          <div class="label">Skype:</div>
          <div class="detail"><span>agentkenny007</span></div>
          <button class="contact" (click)="contactForm('open')">send message</button>
        </div>
        <form class="contact-form">
          <div class="name slide">
            <div class="error">
              <span class="underline"></span>
              <p>click above the white line to enter your name</p>
            </div>
            <input type="text" placeholder="Please, enter your name..." (keyup)="validateInput('name')" (keyup.enter)="contactForm('toEmail')">
            <button class="next" (click)="contactForm('toEmail')">next</button>
            <button class="edit" (click)="contactForm('close')">cancel</button>
          </div>
          <div class="email slide">
            <div class="error">
              <span class="underline"></span>
              <p>please enter a valid email here</p>
            </div>
            <input type="text" placeholder="and your email address?" (keyup)="validateInput('email')" (keyup.enter)="contactForm('toMessage')">
            <button class="next" (click)="contactForm('toMessage')">next</button>
            <button class="edit" (click)="contactForm('toName')">edit name</button>
          </div>
          <div class="message slide">
            <div class="error">
              <span class="underline"></span>
              <p>please enter a message to send</p>
            </div>
            <textarea #contactMessage placeholder="ok, type your message."
              [ngClass]="{
                'zoom-1': contactMessage.value.length > 60,
                'zoom-2': contactMessage.value.length > 170,
                'zoom-3': contactMessage.value.length > 700
              }" (keyup)="setSize(contactMessage);validateInput('message')"></textarea>
            <button class="next send" (click)="contactForm('toSend')">send</button>
            <button class="edit" (click)="contactForm('toEmail')">edit email</button>
          </div>
          <div class="status slide">
              <div class="loading">
                <div>
                  <div><div></div></div>
                  <div><div></div></div>
                </div>
              </div>
              <div class="checkmark">
                <div><span></span></div>
                <div><span></span></div>
              </div>
              <span class="sending msg">sending message, please wait...</span>
              <span class="success msg">message sent, thanks!</span>
              <span class="err msg">error sending message :(</span>
              <button class="retry" (click)="contactForm('toSend');">retry</button>
              <button class="edit" (click)="contactForm('toMessage');contactForm('close')">cancel</button>
          </div>
        </form>
      </div>
      <div *ngSwitchCase="'follow'" class="switchCase follow">
        <div class="social-link large"><a href="https://www.linkedin.com/in/ikenna-ugwuh/" target="_blank"><img src="../assets/images/social-linkedin.png"></a></div>
        <div class="social-link"><a href="https://twitter.com/agentkenny007" target="_blank"><img src="../assets/images/social-twitter.png"></a></div>
        <div class="social-link"><a href="https://github.com/agentkenny007/" target="_blank"><img src="../assets/images/social-github.png"></a></div>
        <div class="social-link"><a href="http://codepen.io/agentkenny007/" target="_blank"><img src="../assets/images/social-codepen.png"></a></div>
        <div class="social-link"><a href="https://plus.google.com/+IkennaUgwuh007" target="_blank"><img src="../assets/images/social-googleplus.png"></a></div>
        <div class="social-link"><a href="https://dribbble.com/agentkenny007" target="_blank"><img src="../assets/images/social-dribbble.png"></a></div>
        <div class="social-link"><a href="http://agentkenny007.deviantart.com/" target="_blank"><img src="../assets/images/social-da.png"></a></div>
        <div class="social-link"><a href="https://medium.com/@agentkenny007" target="_blank"><img src="../assets/images/social-medium.png"></a></div>
        <div class="social-link"><a href="http://sharedli.st/agentkenny007" target="_blank"><img src="../assets/images/social-pocket.png"></a></div>
      </div>
    </div>
  </section>
  <section class="content">
    <ul class="site-links">
      <li><h2>Latest Blog Posts</h2></li>
      <li><h2>Learn About Me</h2></li>
      <li><h2>Résumé and Portfolio</h2></li>
      <li><h2>Complete Collection</h2></li>
      <li><h2>Message Me</h2></li>
      <li><h2>Hire Me</h2></li>
      <li><h2>Follow Me</h2></li>
    </ul>
  </section>
</div>
<div class="nav-contact"
  [ngClass]="{'active':app.navActive}"
  (click)="app.navActive? return: app.toggleMenu('contact')"><span></span></div>
