@media screen and (max-width: 640px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 15%; }
    &:first-child + button { padding-right: 20%; }
  }
}
@media screen and (max-width: 600px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 8%; }
    &:first-child + button { padding-right: 11%; }
  }
}
@media screen and (max-width: 540px) {
  .contact-modal .switches button {
    &:first-child { padding-left: 6%; }
    &:first-child + button { padding-right: 9%; }
  }
}
@media screen and (min-width: 501px) and (max-width: 640px) {
  .slider ul li.slide {
    .segment {
      &.a { padding-top: 30px; }
      .headline {
        font-size: 30px;
      }
    }
    &.a {
      .segment .headline {
        max-width: 500px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .contact-modal .connect .detail.email span { font-size: 30px; }
  .slider ul li.slide {
    .segment {
      &.a { padding-top: 20px; }
      .headline {
        font-size: 24px;
      }
    }
    &.a {
      .segment .headline {
        max-width: 400px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .contact-modal {
    .switches button {
      &:first-child {
        padding-left: 50%;
      }
      &:first-child + button { padding-right: 60%; }
    }
    &.default {
      .switches {
        margin-bottom: -15%;
        button {
          width: 100%;
          margin-bottom: 5%;
        }
      }
    }
    &:not(.default) {
      .switches button {
        font-size: 25px;
        line-height: 30px;
        &:first-child {
          padding-left: 14%;
        }
        &:first-child + button {
          padding-right: 16%;
          float: right;
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {
  .contact-modal .connect .contact-form .slide textarea.zoom-1 { font-size: 20px !important; }
}
@media screen and (max-width: 370px) {
  .contact-modal .connect {
    .detail, .detail.large, .detail.email {
      span {
        font-size: 24px;
      }
    }
    .label {
      font-size: 34px;
    }
  }
}
