<div id="container">
  <section class="slider">
    <ul>
      <li class="slide a">
        <div class="segment a">
          <div class="headline">Hi, there! Welcome to my website.</div>
          <h1 class="headline">I am a <span class="accent">Front End Web Developer</span>. My name is <span class="accent">Ikenna Asad</span>.</h1>
          <ul class="rodo">
            <li>I have 3+ years of professional work experience.</li>
            <li>I ideate and develop irresistibly fascinating interfaces and designs.</li>
            <li>I work with people to help them create exigent digital properties in as little time as possible.</li>
          </ul>
          <div class="buttons">
            <button class="about">more about me...</button>
            <button class="contact">contact me now</button>
          </div>
        </div>
        <div class="segment b">
          <figure class="still"></figure>
        </div>
      </li>
      <li class="slide b">
        <div class="segment a">
          <h2 class="headline">What’s up? My name is <span class="accent">Ikenna Asad</span>. </h2>
          <h2 class="headline">I’m a <span class="accent">Web Interface & Graphics Designer</span>.</h2>
          <ul class="rodo">
            <li>I have 7+ years of design experience</li>
            <li>I illustrate logos that play an important role in the branding of a website or product.</li>
            <li>I sketch wireframes and develop color schemes for mobile app, web app, and desktop layouts.</li>
          </ul>
          <div class="buttons">
            <button class="about">more about me...</button>
            <button class="contact">contact me now</button>
          </div>
        </div>
        <div class="segment b">
          <figure class="still"></figure>
        </div>
      </li>
    </ul>
    <svg width="38px" height="67px" viewBox="-1 208 38 67" style="display: none;">
      <defs>
      </defs>
      <polygon id="Path-2" stroke="#979797" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd" points="0 228.863078 36 209 35.9559135 274.245867 0.0818143281 264.460788"></polygon>
    </svg>
  </section>
  <section class="content">
    <ul class="site-links">
      <li><h2>Latest Blog Posts</h2></li>
      <li><h2>Learn About Me</h2></li>
      <li><h2>Résumé and Portfolio</h2></li>
      <li><h2>Complete Collection</h2></li>
      <li><h2>Message Me</h2></li>
      <li><h2>Hire Me</h2></li>
      <li><h2>Follow Me</h2></li>
    </ul>
  </section>
</div>
